# That's an example
TELEGRAM_BOT_TOKEN= YOUR_BOT_TOKEN
TELEGRAM_ACCOUNT_ID= YOUR_ACCOUNT_ID
SERVER_URL=http://0.0.0.0 #pfSense WAN IP
CHECK_INTERVAL=30
ALERT_REPEAT_INTERVAL=60
FAILURE_THRESHOLD=2
